

#grid-box{
  display: grid;
  grid-template-columns:  auto auto auto;
  justify-content:center
  
}

.boxes{
  width: 7rem;
  height: 7rem;
	border: 0.1rem dashed white;
  background-color: black;
}

.box_num_default{
	font-size:2rem;
	color:white;
	background-color:white;
}


.userClick{
	background-color:blue;
}

.openentClick{
	background-color:green;
}
